{{ define "main" }}
<article class="markdown">
    <h1>{{ .Title }}</h1>
    {{ partial "docs/metadata" $ }}

    {{ .Content }}

    <ul>
    {{ range .Pages }}
    <li>
        <a href="{{.Permalink}}"> {{.Title}}</a>
    </li>
    {{ end }}
    </ul>

</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
