{{ define "main" }}
<article class="markdown">
    <h1>{{.Title}}</h1>

    {{ partial "docs/metadata" $ }}

    {{ with .Content }}
    {{- . -}}
    {{ end }}


    <!-- Docs pages (services etc) have structure we can traverse more easily. -->
    {{ range .Pages.GroupBy "Parent" }}
    <h2>{{ .Key.Title }}</h2>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li style="list-style: none;">None</li>
        {{ end }}
    </ul>
    {{ end }}
</article>

{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}
