{{ define "main" }}
<article class="markdown">
  <h1>{{.Title}}</h1>

  {{ partial "docs/metadata" $ }}

  {{- .Content -}}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
