{{ define "main" }}
<h1>{{$.Title}}</h1>
<article class="markdown">
  {{ partial "docs/metadata" $ }}
  {{- .Content -}}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
