<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <main class="flex justify-center">
    <h1>404 Not Found</h1>
  </main>

  {{ partial "docs/inject/body" . }}
</body>

</html>
